/* to style the element, first name the element, then write style inside */
h2{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: goldenrod;
}
img{
    width: 300px;
    
}
body{
    background-color: antiquewhite;
}
p{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catpaofan{
    color:black

}
.highlight{
    color: gold;
    background-color: black;
    text-decoration:overline;
}
.underline{
  text-decoration: underline;  
}